.settings__wrapper {
    border: 2px solid #535bf2;
    border-radius: 10px;
    padding: 10px;
}

.settings {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.labels {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    min-height: 50px;
}
